{% extends 'itswill_org/base.html' %}

{% load static %}
{% load index %}
{% load humanize %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'itswill_org/recap.css' %}">
{% endblock %}

{% block title %}The itswill Recap{% endblock %}
    
{% block body %}
<div class="content">
  <div class="section-wrap" id="lookup-form-wrap">
    <div class="section" id="lookup-form">
      <form class="recap-form" action="{% url 'itswill_org:wrapped_redirect' %}" method="post">
        <label class="entry-label" id="username-entry-label" for="id_username">Username:</label>
        <input type="text" id="id_username" name="username">
        <input type="submit" class="form-button" id="lookup-submit" value="Find user">
      </form>
    </div>
  </div>
  <div class="section-wrap" id="stats-wrap">
    <div class="section" id="stats">
      <div class="full-section-title">
        <div class="section-title" id="stat-title">
          2024 Wrapped
        </div>
        <div class="section-subtitle" id="range-subtitle">
        </div>
      </div>
      <div class="stat-item" id="msg-count">
        <span class="stat-label" id="msg-count-label">Messages sent:</span>
        <span class="stat-value" id="msg-count-value">{{ wrapped.user.recap.count_messages|intcomma }}</span>
      </div>
      <div class="stat-item" id="msg-count">
        <span class="stat-label" id="msg-count-label">Total character count:</span>
        <span class="stat-value" id="msg-count-value">{{ wrapped.user.recap.count_characters|intcomma }}</span>
      </div>
      <div class="stat-item" id="msg-count">
        <span class="stat-label" id="msg-count-label">Time spent typing at 60 WPM:</span>
        <span class="stat-value" id="msg-count-value">{{ wrapped.user.typing_time }}</span>
      </div>
      <div class="stat-item" id="clip-count">
        <span class="stat-label" id="clip-count-label">Total chatters:</span>
        <span class="stat-value" id="clip-count-value">{{ wrapped.user.recap.count_chatters|intcomma }}</span>
      </div>
      <div class="stat-item" id="clip-views">
        <span class="stat-label" id="clip-views-label">Clips:</span>
        <span class="stat-value" id="clip-views-value">{{ wrapped.user.recap.count_clips|intcomma }}</span>
      </div>
      <div class="stat-item" id="msg-count">
        <span class="stat-label" id="msg-count-value">Clip views:</span>
        <span class="stat-value" id="msg-count-value">{{ wrapped.user.recap.count_clip_views|intcomma }}</span>
      </div>
      <div class="stat-item" id="msg-count">
        <span class="stat-label" id="msg-count-label">Clip duration:</span>
        <span class="stat-value" id="msg-count-value">{{ wrapped.user.clip_duration }}</span>
      </div>
      <div class="stat-item" id="msg-count">
        <span class="stat-label" id="msg-count-label">Top clip:</span>
        <span class="stat-value" id="msg-count-value">{{ wrapped.user.extra_data.top_clips.0.url }}</span>
      </div>
    </div>
  </div>
</div>
{% endblock %}