{% extends "itswill_org/2025_wrapped_base.html" %}

{% load static %}
{% load tz %}
{% load humanize %}
{% load index %}

{% block page_title %}itswill Community Wrapped - 2025{% endblock %}

{% block content %}
<div class="background">
</div>
<div class="container">
  <div class="full-page-section-container">
    <div class="section" id="intro">
      <div class="big-title" id="page-title">itswill Community Wrapped</div>
      <div class="subtitle" id="page-subtitle">2025</div>
    </div>
  </div>
  <div class="section" id="section-1">
    <div class="section-title">Chat statistics</div>
    <div class="section-list">
      <ul>
        <li><b><span class="recap-stat messages">{{ recap.count_messages|intcomma }}</span></b> messages were sent by <span class="recap-stat chatters">{{ recap.count_chatters|intcomma }}</span> chatters in 2025.</li>
        <li>The total length of the 2025 chat logs is <b><span class="recap-stat characters">{{ recap.count_characters|intcomma }}</span></b> characters.</li>
        <ul>
          <li>At 60 WPM, the itswill community spent approximately <b><span class="recap-stat typing-time">{{ recap.count_characters|typing_time }}</span></b> typing in chat.</li>
        </ul>
        <li>The first message of the year was "<span class="recap-stat first_message">{{ recap.first_message.message }}</span>" sent by <span class="recap-stat first_chatter">{{ recap.first_message.commenter.display_name }}</span></li>
        <li>The last message of the year was "<span class="recap-stat last_message">{{ recap.last_message.message }}</span>" sent by <span class="recap-stat last_chatter">{{ recap.last_message.commenter.display_name }}</span></li>
      </ul>
    </div>
    <div class="section-content">
      <div class="chart-container">
        <div class="chart-title" id="messages-chart-title">Messages sent:</div>
        <div class="inner-chart-container">
          <canvas class='chart' id="messages-chart"></canvas>
        </div>
      </div>
    </div>
    <div class="section-list">
      <ul>
        <li>itswillChat was @ed by the chat <b><span class="recap-stat at_bot">{{ fragment_data.at_bot.total|intcomma }}</span></b> times.</li>
        <li>Chat has spammed +1 <b>{{ wrapped.jackass_count|intcomma }}</b> times, jackass.</li>
        <li>There have been <b><span class="recap-stat ascii">{{ fragment_data.ascii.total|intcomma }}</span></b> ASCIIs posted.</b></li>
        <li><b><span class="recap-stat q">{{ fragment_data.q.total|intcomma }}</span></b> messages were just ???.</li>
        <li>Will received <b><span class="recap-stat plus2">{{ fragment_data.plus_minus_2.members.plus2|intcomma }}</span></b> +2s and <b><span class="recap-stat minus2">{{ fragment_data.plus_minus_2.members.minus2|intcomma }}</span></b> -2s.</li>
      </ul>
    </div>
    <div class="section-content">
      <div class="chart-container">
        <div class="chart-title" id="plus2-chart-title">+2/-2s:</div>
        <div class="inner-chart-container">
          <canvas class="chart" id="plus_minus_2-chart"></canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="section" id="section-2">
    <div class="section-title">Emote streaks</div>
    <div class="subsection">
      <div class="subsection-title">Longest streaks</div>
      <ol>
        {% for emote, combo_length, broken_by in wrapped.extra_data.longest_combos %}
          <li>{{ combo_length|intcomma }} {{ emote }} streak {% if broken_by %}(broken by {{ broken_by }}){% endif %}</li>
        {% endfor %}
      </ol>
    </div>
    <div class="subsection">
      <div class="subsection-title">Most common streaks</div>
      <ol>
        {% for emote, streak_count in wrapped.extra_data.most_common_combos %}
        <li>{{ streak_count|intcomma }} {{ emote }} streaks</li>
        {% endfor %}
      </ol>
    </div>
  </div>
  <div class="section" id="section-2.5">
    <div class="section-title">VIPs</div>
    <div class="section-list">
      <ul>
        <li>Chatters gambled for VIP {{ wrapped.vip_gambles|intcomma }} times in 2025.</li>
        <li>Out of all of those 1/5s, {{ wrapped.vip_wins|intcomma }} picked correctly.</li>
        <li>(MrNice's easter egg was used for a free win {{ wrapped.extra_data.vip_cheats|intcomma }} times)</li>
      </ul>
    </div>
  </div>
  <div class="section" id="section-3">
    <div class="section-title">Clip statistics</div>
    <div class="section-list">
      <ul>
        <li><b><span class="recap-stat clips">{{ recap.count_clips|intcomma }}</span></b> clips were made this year.</li>
        <li>Those clips were viewed <b><span class="recap-stat views">{{ recap.count_clip_views|intcomma }}</span></b> times.</li>
        <li>The total watch time on this year's clips was <b><span class="recap-stat clip_views">{{ wrapped.clip_watch_time }}</span></b>.</li>
      </ul>
    </div>
    <div class="section-content">
      <div class="chart-container">
        <div class="chart-title" id="views-chart-title">Clip views:</div>
        <div class="inner-chart-container">
          <canvas class="chart" id="views-chart"></canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="section" id="section-4">
    {% with top_clip=wrapped.extra_data.top_clips.0.0 %}
    <div class="section-title">Most viewed clip of the year (and of all time)</div>
    <div class="section-list">
      <ul>
        <li>Created by {{ top_clip.creator }}, this clip received <b>{{ top_clip.view_count|intcomma }}</b> views.</li>
        <li>It is currently the most viewed itswill clip of all time</li>
      </ul>
    </div>
    <div class="clip-container">
      <iframe src="https://clips.twitch.tv/embed?clip={{ top_clip.clip_id }}&parent={{ request.get_host|remove_port }}" style="width: 75%; aspect-ratio: 16/9;"allowfullscreen>
      </iframe>
    </div>
    <div class="chart-container" style="padding-top: 2rem;">
      <div class="chart-title" id="hummingbird-chart-title">Number of bird references in chat:</div>
      <div class="inner-chart-container">
        <canvas class="chart" id="hummingbird-chart"></canvas>
      </div>
    </div>
    {% endwith %}
  </div>
  <div class="section" id="section-5">
    <div class="section-title">Top Clips</div>
    <div class="subsection">
      <div class="subsection-title">Top Clips of 2025</div>
      <ol>
        {% for clip in wrapped.extra_data.top_clips.0 %}
        <li>By {{ clip.creator }} ({{ clip.view_count|intcomma }} views)<br><iframe src="https://clips.twitch.tv/embed?clip={{ clip.clip_id }}&parent={{ request.get_host|remove_port }}" style="width: 60%; aspect-ratio: 16/9;"></iframe></li>
        {% endfor %}
      </ol>
    </div>
    <div class="subsection">
      <div class="subsection-title">Top Clips by month</div>
      <ul>
        {% for top_clips in wrapped.extra_data.top_clips %}
        {% if forloop.counter0 != 0 %}
        <li>
          {{ forloop.counter0|month_name }}:
          {% with clip=top_clips.0 %}
          <a href="{{ clip.url }}"><i>{{ clip.title }}</i></a> by {{ clip.creator }} ({{ clip.view_count|intcomma }} views)
          {% endwith %}
        </li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="section" id="section-6">
    <div class="section-title">The itswill Community Census</div>
    <p class="section-content">
      This year included the first ever itswill community census! 
      <b>2,630</b> people took the survey and gave Will all of their personal information.
      Some of the highlights include:
    </p>
    <div class="section-list">
      <ul>
        <li><b>66.4%</b> of respondents rated their viewing experience "Extremely Positive"</li>
        <li><b>11%</b> of chatters have been banned</li>
        <li><b>10.6%</b> of the chat is bisexual</li>
        <li><b>33.8%</b> of the chat is over 30</li>
        <li><b>31</b> people said their hobby is jerking off</li>
        <ul>
          <li>and they said so in <b>21</b> different ways #freakystyyle</li>
        </ul>
        <li><b>60.2%</b> of chat has graduated with at least a bachelor's degree</li>
        <li><b>59.9%</b> of chat claims to be a Norwood 1</li>
        <br>
        <li>Favorite variety stream: <b>Poop Killer</b></li>
        <li>Favorite emote: <b>itswill7</b></li>
        <li>Favorite chatter: <b>hello_snoopy</b></li>
        <li>Least favorite chatter: <b>BigRobbiesBBQ</b></li>
        <li>Favorite mod: <b>All mods are bastards</b> (hello_snoopy in close second)</li>
      </ul>
    </div>
  </div>
  <div class="section" id="section-7">
    <div class="section-title">Mr. Live at Five?</div>
    <div class="subsection">
      <div class="subsection-title">The 2025 Record</div>
      <ul id="five-record">
        <li id="early">Will went live early <b>36</b> times (12.2% of streams)</li>
        <li id="on-time">He went live on-time <b>135</b> times (45.8% of streams)</li>
        <li id="late">He was late for <b>124</b> streams (42% of streams)</li>
        <li id="total-streams">That puts us at <b>295</b> days streamed in 2025</li>
      </ul>
      (2024 stats: 13% early, 31% on-time, 56% late)
    </div>
  </div>
  <div class="section" id="section-8">
    <div class="section-title">Bald(ing) Streamer Clips</div>
    <div class="section-list">
      <ul>
        <li>This year, the chat has mentioned Will's hairline/minoxidil/etc. <b><span class="recap-stat bald">{{ fragment_data.miscellaneous.members.bald|intcomma }}</span></b> times</li>
        <li>The worst offenders are:</li>
        <ol>
          {% for chatter, count, is_bot in wrapped.extra_data.extra_leaderboards.bald %}
          <li>{{ chatter }}: <b>{{ count }}</b> mentions
          {% endfor %}
        </ol>
      </ul>
    </div>
  </div>
  <div class="full-page-section-container" id="outro">
    <div class="section" id="final-section">
      <div class="big-title centered">
        Thanks for chatting in 2025!
      </div>
      <div class="centered" style="margin-top: 1em; margin-bottom: 1em;"></div>
      <div class="section-subtitle centered">
        Find your personal 2025 Wrapped
      </div>
      <div class="page-section centered" id="lookup-form">
        <form class="recap-form" action="{% url 'itswill_org:wrapped_redirect' %}" method="post">
          <label class="entry-label" id="username-entry-label" for="id_username">Username:</label>
          <input type="text" id="id_username" name="username">
          <input type="submit" class="form-button" id="lookup-submit" value="Find user">
        </form>
      </div>
      <div class="centered" style="margin-top: 0.4em; margin-bottom: 0.4em;">or</div>
      <div class="section-subtitle centered">
        Check out the <a href="{% url 'itswill_org:recap_year' 2025 %}">2025 stats</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
