{% extends 'itswill_org/base.html' %}

{% load static %}
{% load index %}
{% load humanize %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'itswill_org/recap.css' %}">
{% endblock %}

{% block title %}The itswill Recap{% endblock %}
    
{% block body %}
<div class="content">
  <div class="row-wrap-section-wrap" id="leaderboards-wrap">
    <div class="row-wrap-section" id="leaderboards">
      <div class="row-wrap-section-title" id="leaderboards-title">Leaderboards</div>
      {% if recap_data.year == 0 %}
        <div class="row-wrap-section-note" id="recap-link">(<a href="{% url 'itswill_org:recap' %}">Click to go back to the recap</a>)</div>
      {% else %}
        {% if recap_data.month == 0 %}
          <div class="row-wrap-section-note" id="recap-link">(<a href="{% url 'itswill_org:recap_year' recap_data.year %}">Click to go back to the recap</a>)</div>
        {% else %}
          <div class="row-wrap-section-note" id="recap-link">(<a href="{% url 'itswill_org:recap_month' recap_data.year recap_data.month %}">Click to go back to the recap</a>)</div>
        {% endif %}
      {% endif %}
      {% for key, value in non_fragment_leaderboards.items %}
        {% if key == "messages" %}
        <div class="single-line" id="{{ key }}-wrap">
        {% endif %}
        {% if key in leaderboards %}
        {% with leaderboard=leaderboards|keyvalue:key %}
          {% include "itswill_org/leaderboard.html" with leaderboard_id=key unit=value leaderboard=leaderboard %}
        {% endwith %}
        {% else %}
          {% include "itswill_org/leaderboard.html" with leaderboard_id=key unit=value %}
        {% endif %}
        {% if key == "messages" %}
          </div>
        {% endif %}
      {% endfor %}
      {% for fg in fragment_groups %}
        {% if fg.group_id in leaderboards %}
        {% with leaderboard=leaderboards|keyvalue:fg.group_id %}
          {% include "itswill_org/leaderboard.html" with leaderboard_id=fg.group_id fg=fg unit=fg.unit leaderboard=leaderboard %}
        {% endwith %}
        {% else %}
          {% include "itswill_org/leaderboard.html" with leaderboard_id=fg.group_id fg=fg unit=fg.unit %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
  <div class="section-wrap" id="links-wrap">
    <div class="section" id="links">
      <div class="full-section-title">
        <div class="section-title" id="links-title">
          QUICK LINKS
        </div>
      </div>
      <div class="link-section">
        <div class="link-section-title">
          All Leaderboards
        </div>
      {% for year, months in all_recaps.items %}
        <div class="main-link">
          {% if year == 0 %}
          <a href="{% url 'itswill_org:leaderboard' %}">All time</a>
          {% else %}
          <a href="{% url 'itswill_org:leaderboard_year' year %}">{{ year }}</a>
          {% endif %}
        </div>

        <div class="sublinks-section">
        {% for month in months %}
          <span class="sublink">
            <a href="{% url 'itswill_org:leaderboard_month' year month %}">{{ month_abbr|index:month }}</a>
          </span>
        {% endfor %}
        </div>
      {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
