{% extends 'itswill_org/base.html' %}

{% load static %}
{% load index %}
{% load humanize %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'itswill_org/recap.css' %}">
{% endblock %}

{% block title %}The itswill Recap{% endblock %}
    
{% block body %}
<div class="content">
  <div class="row-wrap-section-wrap" id="leaderboards-wrap">
    <div class="row-wrap-section" id="leaderboards">
      <div class="row-wrap-section-title" id="leaderboards-title">Leaderboards</div>
      {% if recap_data.year == 0 %}
      <div class="row-wrap-section-note" id="recap-link">(<a href="{% url 'itswill_org:recap' %}">Click to go back to the recap</a>)</div>
      {% else %}
      {% if recap_data.month == 0 %}
      <div class="row-wrap-section-note" id="recap-link">(<a href="{% url 'itswill_org:recap_year' recap_data.year %}">Click to go back to the recap</a>)</div>
      {% else %}
      <div class="row-wrap-section-note" id="recap-link">(<a href="{% url 'itswill_org:recap_month' recap_data.year recap_data.month %}">Click to go back to the recap</a>)</div>
      {% endif %}
      {% endif %}
      {% for key, value in recap_data.leaderboards.items %}
      {% with labelobj=labels|keyvalue:key %}
      {% if key == "count_messages" %}
      <div class="single-line" id="{{ key }}-wrap">
      {% endif %}
        <div class="leaderboard-item" id="{{ key }}">
          <div class="leaderboard-label" id="itswillPound-label">
            {% if labelobj.image_list %}
            {% for name in labelobj.image_list %}
            {% with imageurl="itswill_org/recap_img/"|add:name|add:'.webp' %}
            <img class="emote-img" id="{{ name }}-img" src="{% static imageurl %}" title="{{ name }}">
            {% endwith %}
            {% endfor %}
            {% else %}
            <div class="leaderboard-label" id="{{ key }}-label">{{ labelobj.label }}</div>
            {% endif %}
          </div>
          <table class="stat-leaderboard" id="{{ key }}-leaderboard">
            {% for entry in value|firstn:limit %}
              <tr class='leaderboard-table'>
                <td>{{ forloop.counter }}.</td>
                <td>{{ entry.0 }}</td>
                <td>{{ entry.1|intcomma }}</td>
              </tr>
            {% endfor %}
          </table>
        </div>
      {% if key == "count_messages" %}
      </div>
      {% endif %}
      {% endwith %}
      {% endfor %}
    </div>
  </div>
  <div class="section-wrap" id="links-wrap">
    <div class="section" id="links">
      <div class="full-section-title">
        <div class="section-title" id="links-title">
          QUICK LINKS
        </div>
      </div>
      <div class="link-section">
        <div class="link-section-title">
          All Leaderboards
        </div>
      {% for year, year_recap in all_recaps.items %}
        <div class="main-link">
          {% if year_recap.recap.year == 0 %}
          <a href="{% url 'itswill_org:leaderboard' %}">All time</a>
          {% else %}
          <a href="{% url 'itswill_org:leaderboard_year' year_recap.recap.year %}">{{ year_recap.recap.year }}</a>
          {% endif %}
        </div>

        <div class="sublinks-section">
        {% for month, month_recap in year_recap.month_recaps.items %}
          <span class="sublink">
            <a href="{% url 'itswill_org:leaderboard_month' month_recap.recap.year month_recap.recap.month %}">{{ month_recap.month_name }}</a>
          </span>
        {% endfor %}
        </div>
      {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}