{% extends 'itswill_org/base.html' %}

{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'itswill_org/pasta.css' %}">
{% endblock %}

{% block scripts %}
<script>
async function setClipboard(text) {
  await navigator.clipboard.writeText(text);
};
</script>
{% endblock %}

{% block title %}itswill copypastas.{% endblock %}

{% block body %}
<article>
  <div class="content">
    <div id="site-header">
      <div id="site-title">itswill copypastas.</div>
      <div id="site-subtitle"><a href="{% url "itswill_org:ascii" %}">Take me to the ASCIIs</a></div>
    </div>
    <div class="section-wrap">
      <div class="section" id="quick-links-section">
        <h3 class="section-title">Table of contents</h3>
        <div id="quick-links">
          {% for group in object_list %}
          <span class="quick-link"><a href="#{{group.id}}">{{group.title}}</a></span>
          {% endfor %}
        </div>
      </div>
      <div class="section">
      {% for group in object_list %}
        <div class="pasta-group" id="{{ group.id }}">
          <h3 class="group-title">{{ group.title }}</h3>
          {% if group.description %}
          <div class="text-block group-description">
            <h4 class="description-label">Description</h4>
            <pre class="group-description-text">{{ group.description | urlize }}</pre>
          </div>
          {% endif %}
          <div class="text-block group-pastas">
            {% for pasta in group.copypaste_set.all %}
            <div class="pasta-entry">
              {% if pasta.title %}
              <h4 class="pasta-title">{{ pasta.title }}</h4>
              {% endif %}
              <pre class="pasta-text">{{ pasta.text }}</pre>
              <div class="copy-button-wrap">
                <button class="copy-button" onclick="setClipboard(`{{ pasta.text }}`);">Copy</button>
              </div>
            </div>
            {% endfor %}
          </div>
          <div class="return-link">
            <a href="#site-title">Back to top</a>
          </div>
        </div>
      {% endfor %}
      </div>
    </div>
  </div>
</article>
{% endblock %}