{% extends 'itswill_org/base.html' %}

{% load static %}
{% load index %}
{% load humanize %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'itswill_org/recap.css' %}">
{% endblock %}

{% block title %}The itswill Recap{% endblock %}
    
{% block body %}
<div class="content">
  <div class="section-wrap" id="lookup-form-wrap">
    <div class="section" id="lookup-form">
      <form class="recap-form" action="{% url 'itswill_org:recap_redirect' %}" method="post">
        {% if overall_recap %}
        <input type="hidden" name="year" value="{{ recap_data.year }}">
        <input type="hidden" name="month" value="{{ recap_data.month }}">
        {% else %}
        <input type="hidden" name="year" value="{{ recap_data.overall_recap.year }}">
        <input type="hidden" name="month" value="{{ recap_data.overall_recap.month }}">
        {% endif %}
        <label class="entry-label" id="username-entry-label" for="id_username">Username:</label>
        <input type="text" id="id_username" name="username">
        <input type="submit" class="form-button" id="lookup-submit" value="Find user">
      </form>
    </div>
  </div>
  <div class="section-wrap" id="stats-wrap">
    <div class="section" id="stats">
      <div class="full-section-title">
        <div class="section-title" id="stat-title">
          {% if overall_recap %}
            Overall statistics
          {% else %}
            {{ twitchuser.display_name }}'s statistics
          {% endif %}
        </div>
        <div class="section-subtitle" id="range-subtitle">
          {% if overall_recap %}
            {% if recap_data.year == 0%}
            All time
            {% else %}
            {% if recap_data.month == 0 %}
            All of {{ recap_data.year }}
            {% else %}
            {{ month_abbr|index:recap_data.month }} {{ recap_data.year }}
            {% endif %}
            {% endif %}
          {% else %}
            {% if recap_data.overall_recap.year == 0 %}
            All time
            {% else %}
            {% if recap_data.overall_recap.month == 0 %}
            All of {{ recap_data.overall_recap.year }}
            {% else %}
            {{ month_abbr|index:recap_data.overall_recap.month }} {{ recap_data.overall_recap.year }}
            {% endif %}
            {% endif %}
          {% endif %}
        </div>
        {% if overall_recap %}
        {% if recap_data.month == 0 %}
        <div class="section-note" id="leaderboard-link">(<a href="{% url 'itswill_org:leaderboard_year' recap_data.year %}">Click to see the leaderboards</a>)</div>
        {% else %}
        <div class="section-note" id="leaderboard-link">(<a href="{% url 'itswill_org:leaderboard_month' recap_data.year recap_data.month %}">Click to see the leaderboards</a>)</div>
        {% endif %}
        {% else %}
        {% if recap_data.overall_recap.month == 0 %}
        <div class="section-note" id="leaderboard-link">(<a href="{% url 'itswill_org:leaderboard_year' recap_data.overall_recap.year %}">Click to see the leaderboards</a>)</div>
        {% else %}
        <div class="section-note" id="leaderboard-link">(<a href="{% url 'itswill_org:leaderboard_month' recap_data.overall_recap.year recap_data.overall_recap.month %}">Click to see the leaderboards</a>)</div>
        {% endif %}
        {% endif %}
      </div>
      <div class="stat-item" id="msg-count">
        <span class="stat-label" id="msg-count-label">Messages sent:</span>
        <span class="stat-value" id="msg-count-value">{{ recap_data.count_messages|intcomma }}</span>
      </div>
      <div class="stat-item" id="clip-count">
        <span class="stat-label" id="clip-count-label">Clips created:</span>
        <span class="stat-value" id="clip-count-value">{{ recap_data.count_clips|intcomma }}</span>
      </div>
      <div class="stat-item" id="clip-views">
        <span class="stat-label" id="clip-views-label">Views on those clips:</span>
        <span class="stat-value" id="clip-views-value">{{ recap_data.count_clip_views|intcomma }}</span>
      </div>
      <div class="stat-item" id="first-msg">
        <span class="stat-label" id="first-msg-label">First message:</span>
        <div class="stat-value" id="first-msg-value">"{{ recap_data.first_message }}"</div>
      </div>
      {% for key, value in counters.items %}
      {% with counterobj=counters|keyvalue:key %}
      <div class="stat-item" id="{{ key }}">
        <span class="stat-label" id="{{ key }}-label">
          {% if counterobj.image_list %}
          {% for name in counterobj.image_list %}
          {% with imageurl="itswill_org/recap_img/"|add:name|add:'.webp' %}
          <img class="emote-img" id="{{ name }}-img" src="{% static imageurl %}" title="{{ name }}">
          {% endwith %}
          {% endfor %}
          {% else %}
          <span class="stat-label" id="{{ key }}-label">{{ counterobj.label }}</span>
          {% endif %}
        </span>
        <span class="stat-value" id="{{ key }}-value">{{ counterobj.count|intcomma }}</span>
      </div>
      {% endwith %}
      {% endfor %}
    </div>
  </div>
  <div class="section-wrap" id="links-wrap">
    <div class="section" id="links">
      <div class="full-section-title">
        <div class="section-title" id="links-title">
          QUICK LINKS
        </div>
      </div>
      <div class="link-section">
        <div class="link-section-title">
          Overall Recaps
        </div>
      {% for year, year_recap in all_recaps.items %}
        <div class="main-link">
          {% if year_recap.recap.year == 0 %}
          <a href="{% url 'itswill_org:recap' %}">All time</a>
          {% else %}
          <a href="{% url 'itswill_org:recap_year' year_recap.recap.year %}">{{ year_recap.recap.year }}</a>
          {% endif %}
        </div>

        <div class="sublinks-section">
        {% for month, month_recap in year_recap.month_recaps.items %}
          <span class="sublink">
            <a href="{% url 'itswill_org:recap_month' month_recap.recap.year month_recap.recap.month %}">{{ month_recap.month_name }}</a>
          </span>
        {% endfor %}
        </div>
      {% endfor %}
      </div>
      {% if not overall_recap %}
      <div class="link-section">
        <div class="link-section-title">
          {{ twitchuser.display_name}}'s Recaps
        </div>
        {% for year, year_recap in all_recaps.items %}
        <div class="main-link">
          {% if year_recap.recap.year == 0 %}
          <a href="{% url 'itswill_org:recap_user' twitchuser.login %}">All time</a>
          {% else %}
          <a href="{% url 'itswill_org:recap_year_user' year_recap.recap.year twitchuser.login %}">{{ year_recap.recap.year }}</a>
          {% endif %}
        </div>
        <div class="sublinks-section">
          {% for month, month_recap in year_recap.month_recaps.items %}
          <span class="sublink">
            <a href="{% url 'itswill_org:recap_month_user' month_recap.recap.year month_recap.recap.month twitchuser.login %}">{{ month_recap.month_name }}</a>
          </span>
          {% endfor %}
        </div>
        {% endfor %}
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}