{% extends 'itswill_org/base.html' %}

{% load static %}
{% load index %}
{% load humanize %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'itswill_org/recap.css' %}">
{% endblock %}

{% block scripts %}
<script src="{% static 'jquery-3.7.1.min.js' %}"></script>
<script src="{% static 'itswill_org/recap.js' %}"
  defer
  {% if overall_recap %}
  data-getrecapdataurl="{% url 'itswill_org:api_get_recap_data' %}?year={{ recap_data.year }}&month={{ recap_data.month }}"
  {% else %}
  data-getrecapdataurl="{% url 'itswill_org:api_get_recap_data' %}?year={{ recap_data.overall_recap.year }}&month={{ recap_data.overall_recap.month }}&user={{ twitchuser.user_id }}"
  {% endif %}
>
</script>
{% endblock %}

{% block title %}The itswill Recap{% endblock %}
    
{% block body %}
<div class="content">
  <div class="section-wrap" id="lookup-form-wrap">
    <div class="section" id="lookup-form">
      <form class="recap-form" action="{% url 'itswill_org:recap_redirect' %}" method="post">
        {% if overall_recap %}
        <input type="hidden" name="year" value="{{ recap_data.year }}">
        <input type="hidden" name="month" value="{{ recap_data.month }}">
        {% else %}
        <input type="hidden" name="year" value="{{ recap_data.overall_recap.year }}">
        <input type="hidden" name="month" value="{{ recap_data.overall_recap.month }}">
        {% endif %}
        <label class="entry-label" id="username-entry-label" for="id_username">Username:</label>
        <input type="text" id="id_username" name="username">
        <input type="submit" class="form-button" id="lookup-submit" value="Find user">
      </form>
    </div>
  </div>
  <div class="section-wrap" id="stats-wrap">
    <div class="section" id="stats">
      <div class="full-section-title">
        <div class="section-title" id="stat-title">
          {% if overall_recap %}
            Overall statistics
          {% else %}
            {{ twitchuser.display_name }}'s statistics
          {% endif %}
        </div>
        <div class="section-subtitle" id="range-subtitle">
          {% if overall_recap %}
            {% if recap_data.year == 0%}
            All time
            {% else %}
            {% if recap_data.month == 0 %}
            All of {{ recap_data.year }}
            {% else %}
            {{ month_abbr|index:recap_data.month }} {{ recap_data.year }}
            {% endif %}
            {% endif %}
          {% else %}
            {% if recap_data.overall_recap.year == 0 %}
            All time
            {% else %}
            {% if recap_data.overall_recap.month == 0 %}
            All of {{ recap_data.overall_recap.year }}
            {% else %}
            {{ month_abbr|index:recap_data.overall_recap.month }} {{ recap_data.overall_recap.year }}
            {% endif %}
            {% endif %}
          {% endif %}
        </div>
        {% if overall_recap %}
        {% if recap_data.year == 0 %}
        <div class="section-note" id="leaderboard-link">(<a href="{% url 'itswill_org:leaderboard' %}">Click to see the leaderboards</a>)</div>
        {% else %}
        {% if recap_data.month == 0 %}
        <div class="section-note" id="leaderboard-link">(<a href="{% url 'itswill_org:leaderboard_year' recap_data.year %}">Click to see the leaderboards</a>)</div>
        {% else %}
        <div class="section-note" id="leaderboard-link">(<a href="{% url 'itswill_org:leaderboard_month' recap_data.year recap_data.month %}">Click to see the leaderboards</a>)</div>
        {% endif %}
        {% endif %}
        {% else %}
        {% if recap_data.overall_recap.year == 0%}
        <div class="section-note" id="leaderboard-link">(<a href="{% url 'itswill_org:leaderboard' %}">Click to see the leaderboards</a>)</div>
        {% else %}
        {% if recap_data.overall_recap.month == 0 %}
        <div class="section-note" id="leaderboard-link">(<a href="{% url 'itswill_org:leaderboard_year' recap_data.overall_recap.year %}">Click to see the leaderboards</a>)</div>
        {% else %}
        <div class="section-note" id="leaderboard-link">(<a href="{% url 'itswill_org:leaderboard_month' recap_data.overall_recap.year recap_data.overall_recap.month %}">Click to see the leaderboards</a>)</div>
        {% endif %}
        {% endif %}
        {% endif %}
      </div>
      <table id="stat-table">
        <tr class="stat-item" id="msg-count">
          <td class="stat-label" id="msg-count-label">Messages sent:</td>
          <td class="stat-value" id="msg-count-value">{{ recap_data.count_messages|intcomma }}</td>
          <td></td>
        </tr>
        <tr class="stat-item" id="char-count">
          <td class="stat-label" id="char-count-label">Characters sent:</td>
          <td class="stat-value" id="char-count-value">{{ recap_data.count_characters|intcomma }}</td>
          <td></td>
        </tr>
        <tr class="stat-item" id="char-time">
          <td class="stat-label" id="char-time-label">Typing time (60 WPM):</td>
          <td class="stat-value" id="char-time-value">{{ recap_data.count_characters|intdivide:5|time_to_pretty_string:True }}</td>
          <td></td>
        </tr>
        <tr class="stat-item" id="clip-count">
          <td class="stat-label" id="clip-count-label">Clips created:</td>
          <td class="stat-value" id="clip-count-value">{{ recap_data.count_clips|intcomma }}</td>
          <td></td>
        </tr>
        <tr class="stat-item" id="clip-views">
          <td class="stat-label" id="clip-views-label">Views on those clips:</td>
          <td class="stat-value" id="clip-views-value">{{ recap_data.count_clip_views|intcomma }}</td>
          <td></td>
        </tr>
        <tr class="stat-item" id="clip-watch">
          <td class="stat-label" id="clip-watch-label">Clip watch time:</td>
          <td class="stat-value" id="clip-watch-value">{{ recap_data.count_clip_watch|time_to_pretty_string:True }}</td>
          <td></td>
        </tr>
        <tr class="stat-item" id="first-msg-row">
          <td colspan="3">
            <div>
              <table>
                <tr>
                  <td class="stat-label" id="first-msg-label">First message:</td>
                </tr>
                <tr>
                  <td colspan="2" class="stat-value" id="first-msg-value">"{{ recap_data.first_message }}"</td>
                </tr>
              </table>
            </div>
          </td>
          <td></td>
          <td></td>
        </tr>
        <tr class="stat-item" id="last-msg-row">
          <td colspan="3">
            <div>
              <table>
                <tr>
                  <td class="stat-label" id="last-msg-label">Last message:</td>
                </tr>
                <tr>
                  <td colspan="2" class="stat-value" id="last-msg-value">"{{ recap_data.last_message }}"</td>
                </tr>
              </table>
            </div>
          </td>
          <td></td>
          <td></td>
        </tr>
      </table>
      <table id="counter-table">
        {% for fg in fragment_groups %}
          {% if fg.show_in_recap %}
          <tr class="stat-item" id="{{ fg.group_id }}">
            <td class="stat-label" id="{{ fg.group_id }}-label">
              {% if fg.use_images %}
              {% for frag in fg.fragment_set.all %}
                {% if frag.image %}
                  <img class="emote-img" id="{{ frag.pretty_name }}-img" src="{{ frag.image.url }}" title="{{ frag.match }}">
                {% endif %}
              {% endfor %}
              {% else %}
                {{ fg.unit }}:
              {% endif %}
            </td>
            
            {% if fg.group_id in recap_data.counters %}
              {% with counterobj=recap_data.counters|keyvalue:fg.group_id %}
              <td class="stat-value" id="{{ fg.group_id }}-value">{{ counterobj.total|intcomma }}</td>
              {% endwith %}
            {% else %}
              <td class="stat-value" id="{{ fg.group_id }}-value">0</td>
            {% endif %}
            
            {% if fg.expandable and fg.fragment_set.all|length > 1 %}
              <td class="expand-stat" id="expand-{{ fg.group_id }}" group="{{fg.group_id }}">[+]</td>
            {% else %}
              <td></td>
            {% endif %}
          </tr>
            
          {% if fg.expandable and fg.fragment_set.all|length > 1 %}
          <tr class="stat-breakdown" id="{{fg.group_id}}-breakdown">
            <td colspan="2">
              <div class="stat-breakdown-container">
                <table class="stat-breakdown-table">
                  {% for frag in fg.fragment_set.all %}
                  <tr class="stat-item" id="{{ frag.pretty_name }}">
                    <td class="stat-label" id="{{ frag.pretty_name }}-label">
                      {% if fg.use_images and frag.image %}
                        <img class="emote-img" id="{{ frag.pretty_name }}-img" src="{{ frag.image.url }}" title="{{ frag.match }}">
                      {% else %}
                        <span class="stat-label" id="{{ frag.pretty_name }}-label">{{ frag.pretty_name }}:</span>
                      {% endif %}
                    </td>

                    {% if fg.group_id in recap_data.counters %}
                      {% with counterobj=recap_data.counters|keyvalue:fg.group_id %}
                      {% if frag.pretty_name in counterobj.members %}
                        {% with fragval=counterobj.members|keyvalue:frag.pretty_name %}
                        <td class="stat-value" id="{{ frag.pretty_name }}-value">{{ fragval|intcomma }}</td>
                        {% endwith %}
                      {% else %}
                        <td class="stat-value" id="{{ frag.pretty_name }}-value">0</td>
                      {% endif %}
                      {% endwith %}
                    {% else %}
                      <td class="stat-value" id="{{ frag.pretty_name }}-value">0</td>
                    {% endif %}
                  </tr>
                  {% endfor %}
                </table>
              </div>
            </td>
          </tr>
          {% endif %}
          {% endif %}
        {% endfor %}
      </table>
    </div>
  </div>
  <div class="section-wrap" id="links-wrap">
    <div class="section" id="links">
      <div class="full-section-title">
        <div class="section-title" id="links-title">
          QUICK LINKS
        </div>
      </div>
      <div class="link-section">
        <div class="link-section-title">
          Overall Recaps
        </div>
      {% for year, year_recap in all_recaps.items %}
        <div class="main-link">
          {% if year_recap.recap.year == 0 %}
          <a href="{% url 'itswill_org:recap' %}">All time</a>
          {% else %}
          <a href="{% url 'itswill_org:recap_year' year_recap.recap.year %}">{{ year_recap.recap.year }}</a>
          {% endif %}
        </div>

        <div class="sublinks-section">
        {% for month, month_recap in year_recap.month_recaps.items %}
          <span class="sublink">
            <a href="{% url 'itswill_org:recap_month' month_recap.recap.year month_recap.recap.month %}">{{ month_recap.month_name }}</a>
          </span>
        {% endfor %}
        </div>
      {% endfor %}
      </div>
      {% if not overall_recap %}
      <div class="link-section">
        <div class="link-section-title">
          {{ twitchuser.display_name}}'s Recaps
        </div>
        {% for year, year_recap in all_recaps.items %}
        <div class="main-link">
          {% if year_recap.recap.year == 0 %}
          <a href="{% url 'itswill_org:recap_user' twitchuser.login %}">All time</a>
          {% else %}
          <a href="{% url 'itswill_org:recap_year_user' year_recap.recap.year twitchuser.login %}">{{ year_recap.recap.year }}</a>
          {% endif %}
        </div>
        <div class="sublinks-section">
          {% for month, month_recap in year_recap.month_recaps.items %}
          <span class="sublink">
            <a href="{% url 'itswill_org:recap_month_user' month_recap.recap.year month_recap.recap.month twitchuser.login %}">{{ month_recap.month_name }}</a>
          </span>
          {% endfor %}
        </div>
        {% endfor %}
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}