{% extends 'itswill_org/base.html' %}

{% load static %}
{% load index %}
{% load humanize %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'itswill_org/recap.css' %}">
{% endblock %}

{% block title %}The itswill Recap{% endblock %}
    
{% block body %}
<div class="content">
  <div class="section-wrap" id="lookup-form-wrap">
    <div class="section" id="lookup-form">
      <form class="recap-form" action="{% url 'itswill_org:recap_redirect' %}" method="post">
        {% if overall_recap %}
        <input type="hidden" name="year" value="{{ recap_data.year }}">
        <input type="hidden" name="month" value="{{ recap_data.month }}">
        {% else %}
        <input type="hidden" name="year" value="{{ recap_data.overall_recap.year }}">
        <input type="hidden" name="month" value="{{ recap_data.overall_recap.month }}">
        {% endif %}
        <label class="entry-label" id="username-entry-label" for="id_username">Username:</label>
        <input type="text" id="id_username" name="username">
        <input type="submit" class="form-button" id="lookup-submit" value="Find user">
      </form>
    </div>
  </div>
  <div class="section-wrap" id="stats-wrap">
    <div class="section" id="stats">
      <div class="full-section-title">
        <div class="section-title" id="stat-title">
          {% if overall_recap %}
            Overall statistics
          {% else %}
            {{ twitchuser.display_name }}'s statistics
          {% endif %}
        </div>
        <div class="section-subtitle" id="range-subtitle">
          {% if overall_recap %}
            {% if recap_data.year == 0%}
            All time
            {% else %}
            {% if recap_data.month == 0 %}
            All of {{ recap_data.year }}
            {% else %}
            {{ month_abbr|index:recap_data.month }} {{ recap_data.year }}
            {% endif %}
            {% endif %}
          {% else %}
            {% if recap_data.overall_recap.year == 0 %}
            All time
            {% else %}
            {% if recap_data.overall_recap.month == 0 %}
            All of {{ recap_data.overall_recap.year }}
            {% else %}
            {{ month_abbr|index:recap_data.overall_recap.month }} {{ recap_data.overall_recap.year }}
            {% endif %}
            {% endif %}
          {% endif %}
        </div>
        {% if overall_recap %}
        {% if recap_data.year == 0 %}
        <div class="section-note" id="leaderboard-link">(<a href="{% url 'itswill_org:leaderboard' %}">Click to see the leaderboards</a>)</div>
        {% else %}
        {% if recap_data.month == 0 %}
        <div class="section-note" id="leaderboard-link">(<a href="{% url 'itswill_org:leaderboard_year' recap_data.year %}">Click to see the leaderboards</a>)</div>
        {% else %}
        <div class="section-note" id="leaderboard-link">(<a href="{% url 'itswill_org:leaderboard_month' recap_data.year recap_data.month %}">Click to see the leaderboards</a>)</div>
        {% endif %}
        {% endif %}
        {% else %}
        {% if recap_data.overall_recap.year == 0%}
        <div class="section-note" id="leaderboard-link">(<a href="{% url 'itswill_org:leaderboard' %}">Click to see the leaderboards</a>)</div>
        {% else %}
        {% if recap_data.overall_recap.month == 0 %}
        <div class="section-note" id="leaderboard-link">(<a href="{% url 'itswill_org:leaderboard_year' recap_data.overall_recap.year %}">Click to see the leaderboards</a>)</div>
        {% else %}
        <div class="section-note" id="leaderboard-link">(<a href="{% url 'itswill_org:leaderboard_month' recap_data.overall_recap.year recap_data.overall_recap.month %}">Click to see the leaderboards</a>)</div>
        {% endif %}
        {% endif %}
        {% endif %}
      </div>
      <div class="stat-item" id="msg-count">
        <span class="stat-label" id="msg-count-label">Messages sent:</span>
        <span class="stat-value" id="msg-count-value">{{ recap_data.count_messages|intcomma }}</span>
      </div>
      <div class="stat-item" id="char-count">
        <span class="stat-label" id="char-count-label">Characters sent:</span>
        <span class="stat-value" id="char-count-value">{{ recap_data.count_characters|intcomma }}</span>
      </div>
      <div class="stat-item" id="char-count">
        <span class="stat-label" id="char-count-label">Typing time (60 WPM):</span>
        <span class="stat-value" id="char-count-value">{{ recap_data.count_characters|intdivide:5|time_to_pretty_string:True }}</span>
      </div>
      <div class="stat-item" id="clip-count">
        <span class="stat-label" id="clip-count-label">Clips created:</span>
        <span class="stat-value" id="clip-count-value">{{ recap_data.count_clips|intcomma }}</span>
      </div>
      <div class="stat-item" id="clip-views">
        <span class="stat-label" id="clip-views-label">Views on those clips:</span>
        <span class="stat-value" id="clip-views-value">{{ recap_data.count_clip_views|intcomma }}</span>
      </div>
      <div class="stat-item" id="clip-watch">
        <span class="stat-label" id="clip-watch-label">Clip watch time:</span>
        <span class="stat-value" id="clip-watch-value">{{ recap_data.count_clip_watch|time_to_pretty_string:True }}</span>
      </div>
      <div class="stat-item new-line-stat" id="first-msg">
        <span class="stat-label" id="first-msg-label">First message:</span>
        <div class="stat-value new-line-stat-value" id="first-msg-value">"{{ recap_data.first_message }}"</div>
      </div>
      {% for fg in fragment_groups %}
      {% if fg.show_in_recap %}
      <div class="stat-item-container" if="{{fg.group_id}}-container">
        <div class="stat-item" id="{{ fg.group_id }}">
          <span class="stat-label" id="{{ fg.group_id }}-label">
            {% if fg.use_images %}
            {% for frag in fg.fragment_set.all %}
              {% if frag.image %}
                <img class="emote-img" id="{{ frag.pretty_name }}-img" src="{{ frag.image.url }}" title="{{ frag.match }}">
              {% endif %}
            {% endfor %}
            {% else %}
            <span class="stat-label" id="{{ fg.group_id }}-label">{{ fg.unit }}:</span>
            {% endif %}
          </span>
          
          {% if fg.group_id in recap_data.counters %}
            {% with counterobj=recap_data.counters|keyvalue:fg.group_id %}
            <span class="stat-value" id="{{ fg.group_id }}-value">{{ counterobj.total|intcomma }}</span>
            {% endwith %}
          {% else %}
            <span class="stat-value" id="{{ fg.group_id }}-value">0</span>
          {% endif %}

          {% if fg.expandable %}
          {% endif %}
        </div>
          
        {% if fg.expandable and fg.fragment_set.all|length > 1 %}
        <div class="stat-breakdown" id="{{ fg.group_id}}-breakdown">
          {% for frag in fg.fragment_set.all %}
          <div class="stat-item" id="{{ frag.pretty_name }}">
            <span class="stat-label" id="{{ frag.pretty_name }}-label">
              {% if fg.use_images and frag.image %}
                <img class="emote-img" id="{{ frag.pretty_name }}-img" src="{{ frag.image.url }}" title="{{ frag.match }}">
              {% else %}
                <span class="stat-label" id="{{ frag.pretty_name }}-label">{{ frag.pretty_name }}:</span>
              {% endif %}
            </span>

            {% if fg.group_id in recap_data.counters %}
              {% with counterobj=recap_data.counters|keyvalue:fg.group_id %}
              {% if frag.pretty_name in counterobj.members %}
                {% with fragval=counterobj.members|keyvalue:frag.pretty_name %}
                <span class="stat-value" id="{{ frag.pretty_name }}-value">{{ fragval|intcomma }}</span>
                {% endwith %}
              {% else %}
                <span class="stat-value" id="{{ frag.pretty_name }}-value">0</span>
              {% endif %}
              {% endwith %}
            {% else %}
                <span class="stat-value" id="{{ frag.pretty_name }}-value">0</span>
            {% endif %}
          </div>
          {% endfor %}
        </div>
        {% endif %}        
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
  <div class="section-wrap" id="links-wrap">
    <div class="section" id="links">
      <div class="full-section-title">
        <div class="section-title" id="links-title">
          QUICK LINKS
        </div>
      </div>
      <div class="link-section">
        <div class="link-section-title">
          Overall Recaps
        </div>
      {% for year, year_recap in all_recaps.items %}
        <div class="main-link">
          {% if year_recap.recap.year == 0 %}
          <a href="{% url 'itswill_org:recap' %}">All time</a>
          {% else %}
          <a href="{% url 'itswill_org:recap_year' year_recap.recap.year %}">{{ year_recap.recap.year }}</a>
          {% endif %}
        </div>

        <div class="sublinks-section">
        {% for month, month_recap in year_recap.month_recaps.items %}
          <span class="sublink">
            <a href="{% url 'itswill_org:recap_month' month_recap.recap.year month_recap.recap.month %}">{{ month_recap.month_name }}</a>
          </span>
        {% endfor %}
        </div>
      {% endfor %}
      </div>
      {% if not overall_recap %}
      <div class="link-section">
        <div class="link-section-title">
          {{ twitchuser.display_name}}'s Recaps
        </div>
        {% for year, year_recap in all_recaps.items %}
        <div class="main-link">
          {% if year_recap.recap.year == 0 %}
          <a href="{% url 'itswill_org:recap_user' twitchuser.login %}">All time</a>
          {% else %}
          <a href="{% url 'itswill_org:recap_year_user' year_recap.recap.year twitchuser.login %}">{{ year_recap.recap.year }}</a>
          {% endif %}
        </div>
        <div class="sublinks-section">
          {% for month, month_recap in year_recap.month_recaps.items %}
          <span class="sublink">
            <a href="{% url 'itswill_org:recap_month_user' month_recap.recap.year month_recap.recap.month twitchuser.login %}">{{ month_recap.month_name }}</a>
          </span>
          {% endfor %}
        </div>
        {% endfor %}
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}