{% extends 'itswill_org/base.html' %}

{% load static %}
{% load index %}
{% load humanize %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'itswill_org/recap.css' %}">
{% endblock %}

{% block title %}The itswill Recap{% endblock %}
    
{% block body %}
<div class="content">
  <div class="row-wrap-section-wrap" id="leaderboards-wrap">
    <div class="row-wrap-section" id="leaderboards">
      <div class="row-wrap-section-title" id="leaderboards-title">
      {% if fragment_group %}
        {% if fragment_group.use_images %}
          {% for frag in fragment_group.fragment_set.all %}
            {% if frag.image %}
              <img class="emote-img" id="{{ frag.pretty_name }}-img" src="{{ frag.image.url }}" title="{{ frag.match }}">
            {% endif %}
          {% endfor %}
        {% else %}
          <div class="leaderboard-label" id="{{ leaderboard_name }}-label">{{ fragment_group.unit }}</div>
        {% endif %}
      {% else %}
        <div class="leaderboard-label" id="{{ leaderboard_name }}-label">{{ unit }}</div>
      {% endif %}
      </div>
      {% if recap_data.year == 0 %}
      <div class="row-wrap-section-note" id="recap-link">(<a href="{% url 'itswill_org:leaderboard' %}">Click to go back to all the leaderboards</a>)</div>
      {% else %}
      {% if recap_data.month == 0 %}
      <div class="row-wrap-section-note" id="recap-link">(<a href="{% url 'itswill_org:leaderboard_year' recap_data.year %}">Click to go back to all the leaderboards</a>)</div>
      {% else %}
      <div class="row-wrap-section-note" id="recap-link">(<a href="{% url 'itswill_org:leaderboard_month' recap_data.year recap_data.month %}">Click to go back to all the leaderboards</a>)</div>
      {% endif %}
      {% endif %}
      <div class="leaderboard-item" id="{{ leaderboard_name }}">
        <table class="stat-leaderboard" id="{{ leaderboard_name }}-leaderboard">
          {% for entry in leaderboard %}
          {% if entry.1 > 0 %}
            <tr class='leaderboard-table'>
              <td>{{ forloop.counter }}.</td>
              <td>{{ entry.0 }}</td>
              <td>{{ entry.1|intcomma }}</td>
            </tr>
          {% endif %}
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}