{% extends 'itswill_org/base.html' %}

{% load static %}
{% load index %}
{% load humanize %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'itswill_org/recap.css' %}">
{% endblock %}

{% block title %}The itswill Recap{% endblock %}
    
{% block body %}
<div class="content">
  <div class="row-wrap-section-wrap" id="leaderboards-wrap">
    <div class="row-wrap-section" id="leaderboards">
      {% with value=recap_data.leaderboards|keyvalue:leaderboard_name%}
      {% with labelobj=labels|keyvalue:leaderboard_name %}
      <div class="row-wrap-section-title" id="leaderboards-title">
        {% if labelobj.image_list %}
        {% for name in labelobj.image_list %}
        {% with imageurl="itswill_org/recap_img/"|add:name|add:'.webp' %}
        <img class="emote-img" id="{{ name }}-img" src="{% static imageurl %}" title="{{ name }}">
        {% endwith %}
        {% endfor %}
        {% else %}
        <div class="leaderboard-label" id="{{ key }}-label">{{ labelobj.label }}</div>
        {% endif %}
      </div>
      {% if recap_data.year == 0 %}
      <div class="row-wrap-section-note" id="recap-link">(<a href="{% url 'itswill_org:leaderboard' %}">Click to go back to all the leaderboards</a>)</div>
      {% else %}
      {% if recap_data.month == 0 %}
      <div class="row-wrap-section-note" id="recap-link">(<a href="{% url 'itswill_org:leaderboard_year' recap_data.year %}">Click to go back to all the leaderboards</a>)</div>
      {% else %}
      <div class="row-wrap-section-note" id="recap-link">(<a href="{% url 'itswill_org:leaderboard_month' recap_data.year recap_data.month %}">Click to go back to all the leaderboards</a>)</div>
      {% endif %}
      {% endif %}
      {% if key == "count_messages" %}
      <div class="single-line" id="{{ key }}-wrap">
      {% endif %}
        <div class="leaderboard-item" id="{{ key }}">
          <table class="stat-leaderboard" id="{{ key }}-leaderboard">
            {% for entry in value %}
            {% if entry.1 > 0 %}
              <tr class='leaderboard-table'>
                <td>{{ forloop.counter }}.</td>
                <td>{{ entry.0 }}</td>
                <td>{{ entry.1|intcomma }}</td>
              </tr>
            {% endif %}
            {% endfor %}
          </table>
        </div>
      {% if key == "count_messages" %}
      </div>
      {% endif %}
      {% endwith %}
      {% endwith %}
    </div>
  </div>
</div>
{% endblock %}