html {
  background-color: var(--bg);
  color: var(--default-color);
  font-family: Helvetica, Arial, sans-serif;
}

body {
  margin: 2em;
}

#site-title {
  font-size: 3em;
}

.link a, .link a:link, .link a:visited {
  color: var(--accent-color);
  font-size: 1.2em;
}

