html {
  background-color: var(--bg);
  color: var(--default-color);
  font-family: Roobert, Helvetica, Arial, sans-serif;
  font-size: 12pt;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-wrap {
  width: 640px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#lookup-form {
  margin: 10px 0px 10px 0px;
}

#stats-wrap {
  min-height: 640px;
  background-color: var(--bg-light);
}

#stats {
  margin: 48px 0px 48px 0px;
}

.section-title {
  font-size: 16pt;
  margin-bottom: 12px;
}

.stat-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 5px 5px 5px;
  width: 480px;
}

.stat-item:hover {
  background-color: #ffffff20;
}

.stat-label {
  margin-right: 25px;
}

.stat-value {
  color: var(--accent-color);
}

#first-msg {
  display: block;
  padding: 5px 5px 5px 5px;
  max-width: 480px;
}

#first-msg-value {
  color: var(--accent-color);
  margin: 5px;
}