@font-face {
  font-family:Roobert;
  font-weight:400;
  src:url(./Roobert-Regular.woff2) format("woff2"),
  url(./Roobert-Regular.woff) format("woff");
}
@font-face {
  font-family:Roobert;
  font-weight:600;
  src:url(./Roobert-SemiBold.woff2) format("woff2");
}
@font-face {
  font-family:Roobert;
  font-weight:700;
  src:url(./Roobert-Bold.woff2) format("woff2");
}

@font-face {
  font-family:Provicali;
  font-weight:400;
  src:url(./Provicali.otf) format("opentype");
}

:root {
  --bg: #0e0e10;
  --bg-light: #18181b;
  --bg-lighter: #2b2b2e;
  --default-color: #efeff1;
  --accent-color: #fab4ff;
  --twitch-purple: #bf94ff;
}

html {
  background-color: var(--bg);
  color: var(--default-color);
  font-family: Roobert, Helvetica, Arial, sans-serif;
}

body {
  margin: 2em;
}

#site-title {
  font-size: 3em;
}

.link a, .link a:link, .link a:visited {
  color: var(--accent-color);
  font-size: 1.2em;
}
