html,
body {
  min-height: 100vh !important;
  font-family: "Work Sans", "Roboto Mono", sans-serif;
  margin: 0;
  padding: 0;
}

.big-title,
.subtitle,
.section-title,
.chart-title,
.section-subtitle,
.subsection-title {
  font-family: Provicali, sans-serif;
}

.big-title {
  font-size: 2.25rem;
}

.subtitle,
.section-title {
  font-size: 1.75rem;
}

.chart-title {
  font-size: 1.33rem;
}

.section-subtitle,
.subsection-title {
  font-size: 1.2rem;
}

a {
  color: var(--twitch-purple);
}

a:visited {
  color: var(--twitch-purple);
}

b {
  color: var(--accent-color);
}

.emote-img {
  height: 28px;
  width: auto;
  margin: 0 1px 0 1px;
}

.inline-emote-img {
  height: 1.2em;
  width: auto;
  margin: 0 1px 0 1px;
}

.wide-emote {
  display: inline-block;
  min-width: 112px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 !important;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--bg-light);
  box-sizing: border-box;
}

.section {
  width: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
  box-sizing: border-box;
}

@media (max-width: 500px) {
  .container {
    width: 100%;
  }
  .section {
    padding: 25px;
  }
}
@media (min-width: 500px) and (max-width: 1000px) {
  .container {
    min-width: 500px;
    width: 80%;
  }
  .section {
    padding: 35px;
  }
}
@media (min-width: 1000px) {
  .container {
    width: 1000px;
  }
  .section {
    padding: 50px;
  }
}

.full-page-section-container {
  height: 100vh !important;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#intro,
#outro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.chart-container,
.clip-container {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inner-chart-container {
  width: 75%;
}

.stat-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 5px 5px 5px;
  width: 75%;
}

.section-table {
  width: 100%;
  table-layout: fixed;
}

.stat-item:hover {
  background-color: #ffffff20;
}

.stat-label {
  text-align: left;
}

.stat-value {
  text-align: right;
  width: 99%;
}

.stat-rank {
  padding-left: 25px;
  text-align: right;
  color: var(--accent-color);
}

#top-emotes td {
  width: auto;
}
