html {
  font-family: Roobert, sans-serif;
  background-color: var(--bg);
  color: var(--default-color);
  text-align: center;
}

#site-title {
  color: var(--accent-color);
}

a {
  color: var(--accent-color);
}

.reveal * {
  line-height: 1 !important;
}

.reveal section h1 {
  font-family: Roobert, sans-serif;
  text-transform: none;
}

.reveal section h2 {
  font-family: Roobert, sans-serif;
  text-transform: none;
  font-size: 1.1em!important;
  margin-bottom: 0.2em;
}

.reveal section h3 {
  font-family: Roobert, sans-serif;
  text-transform: none;
  font-size: 0.9em!important;
  margin-top: 0px;
}

.chart-list {
  display: flex;
  flex-flow: row wrap;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 75px;
  justify-content: center;
}

.chart, .wide-chart {
  box-sizing: border-box;
  background-color: #18181b;
  padding: 12px 12px;
  margin: 5px;
  text-align: center;
  border-radius: 12px;
}

.chart {
  min-width: 550px;
  width: 45%;
}

.wide-chart {
  width: 90%;
}

.presentation-chart {
  width: 100%;
}

.chart > h2, .wide-chart > h2, .presentation-chart > h2 {
  margin-bottom: 0.2em;
}

.chart > h3, .wide-chart > h3, .presentation-chart > h3 {
  margin-top: 0px;
}

.chart-container {
  width: 100%;
  height: 400px;
}

canvas {
  width: 100%;
  height: 100%;
}

.slideshow-container {
  background: var(--bg-lighter);
  display: flex;
  flex-direction: column;
}

.my-slide {
  display: none;
  padding: 1.2em 0.5em;
  text-align: center;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.my-slide q {
  font-style: italic;
}

.slideshow-controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  margin: 0.4em;
}

.prev-slide, .next-slide {
  cursor: pointer;
  margin: 0 10px 3px 10px;
  user-select: none;
}

.slideshow-dot {
  cursor: pointer;
  height: 0.8em;
  width: 0.8em;
  margin: 0px 2px 0px 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .slideshow-dot:hover {
  background-color: #717171;
}

.reveal section q {
  font-family: Roobert, sans-serif;
  text-transform: none;
  font-size: 0.5em!important;
  line-height: 1.2!important;
}

.reveal section a {
  font-family: Roobert, sans-serif;
  text-transform: none;
  font-size: 0.3em!important;
  display: flex;
}

.reveal section .slideshow-dot {
  height: 0.25em!important;
  width: 0.25em!important;
}